{% extends 'base.html' %} {% block main_content %}
<h1>Login User</h1>

<div class="">
  <div class="" >
    <form method="POST">
      {#This hidden tag is a CRSF Security Feature#} {{form.hidden_tag()}}
      <p>
        {{form.email.label(class="")}}
        {{form.email(class="")}}
      </p>
      <p>
        {{form.password.label(class="")}}
        {{form.password(class="")}}
      </p>
      <p class="btn btn-secondary">
        {{form.submit(class="")}}
      </p>
    </form>
  </div>
</div>
{% endblock %}

