{% extends 'base.html' %} {% block main_content %}
<h1>Update Blog</h1>

<div class="w100 flex-row-center w3-container">
  <div class="w3-margin-top w3-card-2" style="width: 50%; padding: 20px">
    <form method="POST">
      {#This hidden tag is a CRSF Security Feature#} {{form.hidden_tag()}}
      <p>
        {{form.title.label(class="")}}
        {{form.title(class="")}}
      </p>
      <p>
        {{form.blog.label(class="")}}
        {{form.blog(class="")}}
      </p>
      <p class="w3-center">
        {{form.submit(class="")}}
      </p>
    </form>
  </div>
</div>
{% endblock %}
